node_modules
**/node_modules
.next
**/.next
frontend/.next
npm-debug.log
.git
.gitignore
*.md
.env
.env.*
**/.env
**/.env.*
backend/test*.txt
frontend/build*.txt
__tests__
**/__tests__
*.log
.DS_Store
